{% extends "layout.html" %}

{% block content %}
<h1>Your Briefing</h1>

{% for category_triple in categories %}
  {% with category=category_triple|first results=category_triple|slice:"1:2"|first items=category_triple|last %}
  <section class='briefing'>
    <h1>
      <img src="{{ category.icon.url }}">{{ category.name }}
      <menu>
        <li class="edit">
          <a href="#" class="show btn">Edit</a>
          <div class="query_list" style="display: none">
            <div class="tip"></div>
            <p>Enter your searches for this category, one by one.</p>
            <form action="/briefing/save_search_items/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="category_id" value="{{ category.id }}">
              {% with item=items|slice:"0:1"|first %}
                <input type="search" name="q1" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"1:2"|first %}
                <input type="search" name="q2" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"2:3"|first %}
                <input type="search" name="q3" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"3:4"|first %}
                <input type="search" name="q4" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"4:5"|first %}
                <input type="search" name="q5" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"5:6"|first %}
                <input type="search" name="q6" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"6:7"|first %}
                <input type="search" name="q7" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"7:8"|first %}
                <input type="search" name="q8" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"8:9"|first %}
                <input type="search" name="q9" value="{{ item.name }}">
              {% endwith %}
              {% with item=items|slice:"9:10"|first %}
                <input type="search" name="q10" value="{{ item.name }}">
              {% endwith %}
              <input type="submit" value="Save">
              <a href="#">Close</a>
            </form>
          </div>
        </li>
        <li class="show_all toggle">Show All</li>
      </menu>
    </h1>
    <ol>
		{% for result in results|slice:"0:3" %}
			<li>
				<h1><a href="{{ result.object.url }}">{{ result.object.title }}</a></h1>
				<aside>{{ result.object.news_source.name }} <span>{{ result.object.first_analysed|timesince }} ago</span></aside>
				<p>{{ result.highlighted.text|first|safe }}</p>
			</li>
		{% endfor %}
		<div class="extra_stories" style="display: none">
			{% for result in results|slice:"3:10" %}
				<li>
					<h1><a href="{{ result.object.url }}">{{ result.object.title }}</a></h1>
					<aside>{{ result.object.news_source.name }} <span>{{ result.object.first_analysed|timesince }} ago</span></aside>
					<p>{{ result.highlighted.text|first|safe }}</p>
				</li>
			{% endfor %}
		</div>
    </ol>
  </section>
  {% endwith %}
{% endfor %}

{% endblock %}
